<!--nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav>-->

<!-- Ik weet dat het nogal omslachtig is om col-xs en col-sm aan te duiden, maar anders stonden ze niet netjes onder elkaar.-->


<footer class="footer sticky-bottom container-fluid">
    <div class="row pt-4 pb-2 frow">

        <div class="col-xs col-sm offset-md-2 col-md-2 fcol">
            <ul>
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="prijzen.html">Prijzen</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="Afspraak.html">Maak een afspraak</a>
                </li>
            </ul>
        </div>

        <div class="col-xs col-md col-md-3 fcol">
            <h4>Blijf op de hoogte!</h4>
            <p>iedere 2 weken tips en tricks in jou mailbox! </p>
            <form class=" form-inline needs-validation" novalidate>
                <input type="email" class="form-control" id="email" placeholder="bv. vanderlinden.gh@gmail.com" required>
                <div class="invalid-feedback">
                    Dit is geen e-mailadres.
                </div>
                <button type="submit" class="btn btn-cta"><a href="bevestigingnieuwsbrief.html">Sign up</a></button>
                </form>
                <div class="w-100"></div>
            <div class="mt-1">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i> </a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i> </a>
                <a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-2x"></i> </a>
                <a href="https://plus.google.com/discover"><i class="fab fa-google-plus-square fa-2x"></i></a>
            </div>

        </div>
        <div class="col-xs col-sm col-md-3 offset-right-md-2 fcol">
                <p class="naam mb-lg-1">
                Geertje van der Linden<br>                
                Industrieweg 232<br>
                9000 Gent
                </p>
                <p class="contactinfo mb-lg-1"><i class="fas fa-at"></i>  vanderlinden.gh@gmail.com</p>
                <p class="contactinfo mb-lg-1"><i class="fas fa-phone"></i>  0484363955</p>
        </div>        

    </div>
</footer>
