//LINKS


/*a {
    color: $white;
    text-decoration: none;

    &:hover{
        color: $cta;
        text-decoration: none;
    }

    &:active{
        color: $primarydark;
        text-decoration: none;
    }
}*/
//TITELS

.title {
    padding: 1rem 0;
}

//CTA BUTTON

//transitie definieer je op de 'gewone' knop
.btn-cta {
    background-color: $cta;
    color: $white;
    transition-property: all; //voor welke properties
    transition-duration: 1s; // hoelang
    transition-timing-function: ease-in-out; //grafiekje snelheid 



//Voor een transitie zet je hier het eindresultaat
//omdat anders mijn a geen transitie had, staat hij hier nog eens
    &:hover {
        background-color: $primarydark;
        color: $white;
        transition-property: all; //voor welke properties
        transition-duration: 1s; // hoelang
        transition-timing-function: ease-in-out; //grafiekje snelheid 
    
        a{
            text-decoration: none;
            color: $white;
        }
    }

    &:visited {
        background-color: $cta;
        color: $white;
    }

    &:active {
        background-color: $primarydark;
        color: $white;
    }
}


// STANDAARD BUTTON
.btn-normaal {
    background-color: $primary;
    color: $white;
    border-width: 0.20rem;
    border-color: $primary;
    transition-property: all; //voor welke properties
    transition-duration: 800ms; // hoelang
    transition-timing-function: ease-in-out; //grafiekje snelheid 

        &:hover {
            background-color: $white;
            color: $primary;
            border-width: 0.20rem;
            border-color: $primary;
            text-decoration: none;
            transition-property: all; //voor welke properties
            transition-duration: 1s; // hoelang
            transition-timing-function: ease-in-out; //grafiekje snelheid 

            a{
                text-decoration: none;
                color: $primary;
            }
        }

        &:active {
            background-color: $white;
            color: $primary;
            border-width: 0.20rem;
            border-color: $primary;
            text-decoration: none;

        }

        &:visited{
            background-color: $primary;
            color: $white;
            border-width: 0.20rem;
            border-color: $white;
            text-decoration: none;
        }
}

//anders is kleur niet $primary wanneer je op de button staat maar niet op de link.

//FORMS

label {
    margin-top: 0.30rem;
}

//PARAGRAAF TEKST CONTACT INFO IN FOOTER EN OP CONTACTPAGE

.contactinfo {
    font-weight: 600;
}

//FOOTER

.footer {
    background-color: $primary;
    color: $white;


    h4 {
        color: $white;
    }

    ul {
        list-style-type: none;
    
        a{
            color: $white;
            font-weight: 600;

            &:hover {
                color: $cta;
                text-decoration: none;
            }
        }
    input {
        margin: 0.2rem;
    }

    }
}

//BEVESTIGING PAGES
/*
VRAAG VOOR OP FEEDBACK: WAAROM WERKT DIT NIET? 
Werkt ook niet met classes in html : d-flex, justify-content-center en align-items-center.

.bevestiging {
    display: flex;
    justify-content: center;
    text-align: center;
}
*/

.bevestiging{
    margin-top: 100px;
}

//PRIJS

.prijs{
    font-weight: 700;
}
